#first
{
    height:400px;
    width:1360px;
    background:green;
    position:absolute;
    visibility:hidden;
 }



#background
{
    height:400px;
    width:1360px;
    background:white;
    position:relative;
    visibility:hidden;
 }



#second
{
    height:400px;
    width:1360px;
    background:red;
    position:absolute; visibility:hidden;
}



#third
{
    height:400px;
    width:1360px;
    background:yellow;
    position:absolute; visibility:hidden;
}

