#first
{
    height:300px;
    width:1353px;
    background:green;
    position:absolute;
    visibility:hidden;
 }



#background
{
    height:300px;
    width:1353px;
    background:white;
    position:relative;
    visibility:hidden;
 }



#second
{
    height:300px;
    width:1353px;
    background:red;
    position:absolute; visibility:hidden;
}



#third
{
    height:300px;
    width:1353px;
    background:yellow;
    position:absolute; visibility:hidden;
}


#bar
{
    height:70px;
    width:1353px;
    background:blue;
    position:relative;
}

